.card {
  height: 25rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 7px;
  overflow: wrap;

  .image {
    height: 70%;
    background-size: cover;
    background-position: center;
  }

  .title {
    padding: 5px;
  }

  .clip {
    padding: 5px;
    color: #262A56;
    align-self: flex-end;
  }
}
